
.link {
  text-decoration: none;
  color: inherit;
}

.item {
  cursor: pointer;
  margin-bottom: 10px;

  &:hover {
    background: #3b3131;
  }
}

.itemContent {
  padding-bottom: 16px !important;
  display: flex;
  align-items: center;

  & img {
    width: 60px;
  }
}