
.header {
  display: flex;
  align-items: center;
}

.headerActions {
  margin-right: 25px;
}

.item {
  margin-bottom: 5px;
}

.itemContent {
  padding: 4px 16px !important;
  display: flex;
  align-items: center;
}

.itemAlbumCover {
  display: flex;
  align-items: center;
  width: 40px;
  margin-right: 16px;

  & img {
    max-width: 100%;
  }
}

.itemTrackInfo {
  flex-grow: 1;

  & > p:first-child {
    font-size: 18px;
  }

  & > p:last-child {
    font-size: 12px;
  }
}

.itemActions {
  text-align: right;
  flex-grow: 1;

  & button {
    font-size: 16px;
  }
}

.itemActionsBusy {
  pointer-events: none;
  & button {
    color: #666;
  }
}